<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Itube</title>
</head>
<body>
    
    <%- include('nav_bar') %>


    <div class="video-container">
        <video controls autoplay muted="muted" class="video">
            <source src="/video?id=<%= id %>" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="interactions">
        <input type="hidden" id="VideoId" value="<%= id %>">
        <div class="like">
            <% if (isliked) { %>
                <button id="like" class="liked">Likes <%= likes %></button>

            <% } else { %>
                <button id="like">Likes <%= likes %></button>

            <% } %>



        </div>
    
        <div class="dislike">
            <% if (isdisliked) { %>
                <button id="dislike" class="disliked">Dislike <%= dislikes %></button>

            <% } else { %>
                <button id="dislike">Dislikes <%= dislikes %></button>

            <% } %>

        </div>
    
    </div>
    
    <div class="text-center">
        <h3 class="text-danger errorMsg"></h3>

    </div>

    <div class="text-center">
        <h3 class="text-success successMsg"></h3>

    </div>

    <div class="comments">
        <div class="comment">
            <input type="text" class="form-control" placeholder="Wrtie a comment..." id="comment">
            <button class="btn btn-primary mt-2 addComment">Add Comment</button>

        </div>
        <% const commentsLength = comments.length %>
        <% for (i in comments) { %>
            <div class="comment">
                <h3 class="name"><%= comments[commentsLength - i - 1].get("userName") %></h3>
                <h4 class="text" style="margin-left: 10px;"><%= comments[commentsLength - i - 1].get("text") %></h4>
                
            </div>

        <% } %>

        
    </div>

    <script src="/js/video.js"></script>
    

</body>
</html>