<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Itube</title>
</head>
<body>
    
    <%- include('nav_bar') %>


    <div class="video-container">
        <video controls autoplay muted="muted" class="video">
            <source src="/video?id=<%= id %>" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="interactions">
        <input type="hidden" id="VideoId" value="<%= id %>">
        <div class="like">
            <% if (isliked) { %>
                <button id="like" class="liked">Likes <%= likes %></button>

            <% } else { %>
                <button id="like">Likes <%= likes %></button>

            <% } %>



        </div>
    
        <div class="dislike">
            <% if (isdisliked) { %>
                <button id="dislike" class="disliked">Dislike <%= dislikes %></button>

            <% } else { %>
                <button id="dislike">Dislikes <%= dislikes %></button>

            <% } %>

        </div>
    
    </div>
    
    <div class="comments">
        <div class="comment">
            <h3 class="name">yousifsaif</h3>
            <h4 class="text">This Video Is Very Greate!!</h4>
            
        </div>

        <div class="comment">
            <h3 class="name">yousifsaif</h3>
            <h4 class="text">This Video Is Very Greate!!</h4>
            
        </div>

        <div class="comment">
            <h3 class="name">yousifsaif</h3>
            <h4 class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita exercitationem quidem distinctio eaque nisi laborum debitis quia sint in temporibus, ut rerum consequatur dolore quibusdam cumque voluptas veniam fugit repellat.</h4>
            
        </div>
        
    </div>

    <script src="/js/like_and_dislike.js"></script>
    

</body>
</html>